# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vs
**/Release/*
**/Debug/*
PredictedInputCache_RGBContrastNetwork_Debug_x86.dat
PredictedInputCache_RGBContrastNetwork_Release_x86.dat
